CDSE_CLIENT_ID=
CDSE_CLIENT_SECRET=
CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_ODATA_CATALOG_URL=https://catalogue.dataspace.copernicus.eu/odata/v1
GFW_API_TOKEN=
